<ion-view view-title="{{label}}">
    <ion-content>
        <div class="item item-body">
            <img class="full-image" src="img/aacd.png">
            <p>
                A AACD (Associação de Assistência à Criança Deficiente) surgiu de um trabalho inspirado na evolução tecnológica dos centros de reabilitação no exterior. Para preservar a qualidade e excelência dos atendimentos na AACD foram criados diversos canais de captação de recursos, entre eles o Teleton, que objetivam garantir autonomia à Instituição. Além do foco em reabilitação física, a AACD possui diversas outras atividades, como capacitação profissional, inserção no esporte e integração socio-econômica.
            </p>
        </div>
        <div class="item item-divider bold green text-center">
            Sua doação ajudou as seguintes pessoas:
        </div>
        <div class="item item-avatar">
            <img src="img/cri1.jpg">
            <h2>Lucas Krongold</h2>
            <p class="green">
                R$12,50
            </p>
        </div>
        <div class="item item-avatar">
            <img src="img/cri2.jpg">
            <h2>Maria Betânia</h2>
            <p class="green">
                R$3,20
            </p>
        </div>
        <div class="item item-avatar">
            <img src="img/cri3.jpg">
            <h2>Victor da Matta</h2>
            <p class="green">
                R$5,70
            </p>
        </div>
        <div class="item item-avatar">
            <img src="img/cri4.jpg">
            <h2>Luís Guilherme</h2>
            <p class="green">
                R$10,20
            </p>
        </div>
        <div class="item item-text-wrap item-small italic gray">
            Essas famílias receberam os valores em cartões MasterCard pré-pagos, promovendo assim inclusão social e financeira através da tecnologia.
        </div>
        <div class="item item-divider bold green text-center">
            E também colaborou com a aquisição de:
        </div>
        <div class="item text-center">
            <span class="bold">15% de uma cadeira de rodas</span><br/>
            <div class="progressbar">
                <div class="progressbar-inside" ng-style="{'width': '15%'}"></div>
            </div>
            <br>
            <span class="green">ou</span>
            <br>
            <br>
            <span class="bold">5% de uma quimioterapia</span><br/>
            <div class="progressbar">
                <div class="progressbar-inside" ng-style="{'width': '5%'}"></div>
            </div>
            <br>
            <span class="green">ou</span>
            <br>
            <br>
            <span class="bold">25% de uma prótese</span><br/>
            <div class="progressbar">
                <div class="progressbar-inside" ng-style="{'width': '25%'}"></div>
            </div>
            <br>
            <span class="green">ou</span>
            <br>
            <br>
            <span class="bold">50% de um andador</span><br/>
            <div class="progressbar">
                <div class="progressbar-inside" ng-style="{'width': '50%'}"></div>
            </div>
        </div>
    </ion-content>
</ion-view>
