/* Empty. Add your own CSS if you like */
ion-content{
    background-color: #f0f0f0;
    font-family: "Open Sans";
}

.bar .title{
    font-size: 1.4em;
    font-family: "Montserrat";
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.item-small {
    font-size: 0.8em;
}

.green {
    color: #388E3C !important;
}

.gray {
    color: #555 !important;
}

.gold {
    color: #D4AF37;
}

.silver {
    color: #9B8E88;
}

.bronze {
    color: #91312A;
}

.progressbar{
    width: 100%;
    height: 17px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 1px;
    padding: 1px;
}
.progressbar-inside{
    background-color: #388E3C;
    height: 100%;
    border-radius: 4px;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}